@use "../../../../css/variables" as var;

.amount-container {
  max-width: 965px;
  margin: 2rem auto 0 auto;
  color: var.$text-light;
}

.search-items-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .search-item {
    text-align: center;
    width: 300px;
    background-color: #181818;
    margin: 1rem;
    border-radius: 16px;
    border: 5px solid var.$background-light;
    img {
      border-radius: 16px;
      width: 100%;
      display: block;
    }
    header {
      color: var.$text-light;
      font-weight: bold;
      background-color: var.$background-light;
      padding: 0.8rem 0.5rem;
      border-radius: 0px 0px 10px 10px;
      
    }h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
