@use "../../../../css/variables" as var;

.amount-container {
  max-width: 965px;
  margin: 2rem auto 0 auto;
  color: var.$text-light;
}

.search-items-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .search-item {
    text-align: center;
    width: 300px;
    background-color: #181818;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    img {
      width: 100%;
      display: block;
    }
    header {
      color: var.$text-light;
      font-weight: bold;
    }
  }
}
