@use "../css/variables" as var;
@use "../js/modules/view/buildSearch/buildSearch" as buildSearch;
@use "../js/modules/view/seachOutputView/searchOutputView" as searchOutputView;

@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var.$background-dark;
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0em;
}



.main-container{
  background-color: var.$background-medium;
  width: 1200px;
  padding: 1rem 0;
  margin: 4rem  auto;
  border-radius: 20px;
  box-shadow:  #14253c40 0px 14px 28px,  #14253c38 0px 10px 10px;
}